.Pokedex {
    text-align: center;
}
.Pokedex-h1 {
    text-align: center;
}
.Pokedex-cards {
    display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.Pokedex-winner {
    color : forestgreen;
}

.Pokedex-looser {
    color : red;
}